@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-white;
  }

  h1 {
    @apply font-mono text-3xl;
  }

  iframe {
    width: 600px;
    height: 600px;
  }
}

@layer base {
  .btn-primary {
    @apply bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded;
  }

  .btn-secondary {
    @apply bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded;
  }
}

@layer utilities {
  .center {
    @apply absolute block left-1/2 top-1/2;
    transform: translate(-50%, -50%);
  }
}

#editor {
  width: 600px;
}

@media screen(xl) {
  #editor {
    @apply overflow-auto;
    height: 600px;
  }
}
